* {
  box-sizing: border-box;
  
}

.App {
  text-align: center;
  
}

.logButtonO {
  margin: 10px; 
}

.logButtonI {
  margin: 10px;
}

.regButton {
  margin: 10px;
}

.dash {
  display: flex;
  flex-direction: row;
  padding-left: 2%;
  
}

.title {
  align-content: flex-start; 
  margin-top: 1%;
  margin-bottom: 1%;
  font-family: Georgia, 'Times New Roman', Times, serif;
  
}

.registerDiv {
  align-content: center;
}

.registerForm {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.registerForm2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.registerForm3 {
  margin: 5px;
}


.loginForm {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.loginForm2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.loginForm3 {
  margin: 5px;
}

.allList {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.margin {
  margin: 20px;
  margin-left: 100px;
}

.title2 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: 10px;
}

.title3 {
  margin: 10px;
}

.title4 {
  margin-top: 40px;
}

.button2 {
  display: flex;
  justify-content: center;
}

.picture {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainImage {

  width: 100%;
  
}

.upImage {
    
  max-width: 100%;
  
}

.navButton {

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 80%;
  
}

@media(max-width: 435px){

  .title {
    height: 20%;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 5%;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    font-size:28px;
    width:50%;
    
   }

  .title3 {
   font-size:25px
  }

  .allList {
    font-size:20px
   }

   .title4 {
    font-size:20px
  }

  .title5 {
    font-size:13px
  }

  .dash {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 2%;
    
    
  }

  .navButton {

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 40%;
    
  }

}

